// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin schoolosvaadin {
  @include valo;

  // Insert your own theme rules here
  //**********************************
  	// NAVIGATION LOGIN
  	//**********************************
  	.nav-bar-login{
  		background:rgb(60,141,188);
  		.branding{
			color:rgb(255,255,255);
			font-size:36px;
			font-family: "Blenda Script";
			font-weight:bold;
			text-align:center;
		}
		.branding:after {
			font-family: "Blenda Script";
			content:' Plus';
			color: rgb(69,47,0);
			font-weight:bold;
		}
		.student-recruit{
			background:rgb(54,127,169);
			color:rgb(255,255,255);
			font-size:24px;
			font-weight:bold;
			text-align:center;
		}
  	}
	//**********************************
	// LOGIN PAGE
	//********************************** 
	.login-layout{
		background-image: url("img/background.jpg");
		background-size:cover;
		.free-notice, .signon-topic{
			font-size:30px;
			font-weight:bold;
		}
		.school-sigon, .login-box{
			width:370px;
			background-color: #ffffff;
			box-shadow:none;
			border:none;
		    opacity: 0.9;
		}
		.content-form{
			width:100%;
			margin-left: auto;
    		margin-right: auto;
		}
		.login-box{
			height:160px;
			.input-form, .password-notice{
				width:300px;
			}
			.password-text{
				width:150px;
			}
		}
		.school-sigon{
			height:320px;
			.input-form, .signup-button{
				width:300px;
			}
			.two-columns-form{
				.v-textfield{
					width:145px;
				}
			}
		}
	}	
	//**********************************
	// MAIN MENU
	//********************************** 
	.header{
  		background:rgb(60,141,188);
		.branding{
			color:rgb(255,255,255);
			font-size:36px;
			font-family: "Blenda Script";
			font-weight:bold;
			text-align:center;
		}
		.branding:after {
			font-family: "Blenda Script";
			content:' Plus';
			color: rgb(69,47,0);
			font-weight:bold;
		}
		.header-button{
			background:rgb(60,141,188);
			color:rgb(255,255,255);
			box-shadow:none;
			border:none;
			font-size:24px;
			font-weight:bold;
			text-align:center;
			margin:5px;
		}
  	}
	.menu-tree{
		background:rgb(34,45,50);
		color:rgb(255,255,255);
		font-weight:bold;
	}
	
	//**********************************
	// CONTENT
	//********************************** 
	.menu-content{
		background:rgb(233,234,237);
	}
	.border-white{
		background:rgb(255,255,255);
	}
}
